<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <input 
      type="text" 
      class="form-control"
      #serverName
      >
      <label>Server Content</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
      <input 
      type="text" 
      class="form-control" 
      #serverContent>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverName, serverContent)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverName, serverContent)">Add Server Blueprint</button>
    </div>
</div>


<!-- #serverName is a local reference. It will hold a reference to the whole element, not just the value 
Can Only be used inside the template, not the typescript code, but we can pass it on to the Typescript code 
via a method, in this case onAddServer and onAddBlueprint -->
